body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ADD8E6;
}

.login {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2F4F4F;
    text-align: center;
}

    .login h1 {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 40px 0;
    }

    .login input {
        font-size: 14px;
        width: 100%;
        padding: 14px 10px;
        border: 0;
        outline: none;
        border-radius: 5px
    }

    .login button {
        font-size: 16px;
        font-weight: bold;
        margin: 18px 0;
        padding: 10px 14px;
        width: 50%;
    }
